h1 {
  color: white;
  font-family: 'Gamja Flower', cursive;
  font-size: 45px;
  margin-top: 45px;
  margin-bottom: 35px;
  text-shadow: 2px 2px grey;
  text-decoration: underline overline;
}

h2 {
  color: #d5ecf6;
  font-family: 'Padauk', sans-serif;
  font-size: 23px;
  text-align: justify;
  margin-top: 35px;
  margin-bottom: 75px;
  margin-right: 25px;
  margin-left: 700px;
}

h3 {
  color: #d5dcf6;
  font-size: 23px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 45px;
  font-family: 'Padauk', sans-serif;
}

h4 {
  color: #dfd5f6;
  font-size: 23px;
  margin-right: 130px;
  margin-left: 125px;
  margin-bottom: 35px;
  font-family: 'Padauk', sans-serif;
}

h5 { /* was #f0d5f6(pinkish tone) and #f6dfd5 (beige)*/
  color: #FCE3D8;
  font-family: 'Padauk', sans-serif;
  font-size: 23px;
  text-align: center;
  margin-left: 25px;

}


h6 { /* b393de(purple) CEC7E5(lavender tone) for resources? f6d5ec*/
  color: #A196C6;
  font-family: 'Padauk', sans-serif;
  font-size: 23px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 45px

}

h7 {
  color: #f6d5dc;
  font-family: 'Padauk', sans-serif;
}

h8 {
  color: black;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 3px;
  text-align: left;
  text-decoration: underline;
  font-family: 'Gamja Flower', cursive;
}

h9 {
  color: black;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  font-family: 'Gamja Flower', cursive;
}

/* Navigation Menu */
.nav_menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav_menu a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;

}

.nav_menu a:hover {
    color: powderBlue;
}

div.a {
  text-align: left;
  color: #f0d5f6;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 90px;
  font-family: 'Padauk', sans-serif;
  font-size: 23px;
  -webkit-column-gap: 25px;
  letter-spacing: 2px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

{
  box-sizing: border-box;
}
/*for the different disorders */
#disorders {
  float: left;
  width: 33.33%;
  text-align: center;
}

/* Clear floats after the columns */
.types:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .disorders {
    width: 100%;
  }
}

/*for depression table */
.depression {
  float: left;
  width: 50%;
}

.press:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .depression {
    width: 100%;
  }
}

/*for depression info */
#different {
  float: left;
  width: 33.33%;
  text-align: center;
}

/* Clear floats after the columns */
.pressx:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .different {
    width: 100%;
  }
}

/* definitions of diff types of anxiety and depression when hovered over */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #BAC9DA;
  color: #fff;
  text-align: center;
  border-radius: 10px; /*10*/
  padding: 10px 0; /*10*/
  font-size: 20px;
  font-family: 'Padauk', sans-serif;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Resources Page!!!! */
#grad {
  background-image:linear-gradient(#bfcdf0, #cabff0, #e2bff0);
}

/*for the different disorders */
.hotlines {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.hot:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .hotlines {
    width: 100%;
  }
}

/*for helpful videos*/
.videos {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.helpful:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .videos {
    width: 100%;
