/* Navigation Menu */
.nav_menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav_menu a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;

}

.nav_menu a:hover {
    color: powderBlue;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Gamja Flower", cursive;
  font-size: 48px;
}

body {
  text-align: center;
  color: white;
  font-family: "Padauk", sans-serif;
  font-size: 25px;
  background-image:url(https://static.tumblr.com/2078ae815f34332fcc9c38661a7f0d3c/xokyadj/ennolqzh4/tumblr_static_2cjmg3bhgf8k0k08w0goswoso.png);
  background-repeat:no-repeat;
  background-size:cover;
}

#regbutton {
  background-color: #d5ecf6;
  border-radius: 12px;
  color: #e996d0;
  padding: 18px;
  font-size: 25px;
  font-family: "Padauk", sans-serif;
  margin: 4px 2px;
  transition: 0.3s;
  width:100%;
}

#regbutton:hover {
  background-color: #96d0e9;
  color: white;
  cursor: pointer;
}

i {
  background-color: #e996d0;
  margin: 4px 2px;
  padding: 10px;
  border-radius: 12px;
  transition: 0.3s;
}

i:hover {
  cursor: pointer;
  background-color: #c761a9;
}

.material-icons.md-36 {
  font-size: 36px;
}

#gifs-rows img {
  cursor: pointer;
}
#gifs-rows .gif-file {
  display:none;
}

/*This is the formatting for the flexbox */
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/*End of flexbox formatting*/
